---
import '../styles/global.css';
---

<body class="wrap">

	<section class="header-label content">
		<p class="header-label-text">待ち時間短縮のためご予約優先とさせていただきます、<br>
			ご来院の際は採尿に備えてお越しください</p>
	</section>

	<section class="main-image content">
		<img class="main-image-content" src="./images/top-green.png">
		<span class="main-image-text">患者様の笑顔のために <br>よりそう診療を目指して</span>
		<img class="main-logo" src="./images/top-image-logo.png">
	</section>

	<div class="button-body">
		<a class="button-content1" href="tel:09000000000">
			<img class="button-image" src="./images/phone.png">
			<span class="button-text1">電話</span>
		</a>
		<a class="button-content2" href="https://tol-app.jp/s/5st9gdv0o7t2hxn81l8i/lubj0z">
			<img class="button-image" src="./images/reserve.png">
			<span class="button-text2">LINE予約</span>
		</a>	
	</div>
	
	<section class="wrap2">
		<section class="wrap2-notification wrap-item">
			<p class="notify title">お知らせ</p>
			<a class="twitter-timeline" data-height="400" href="https://twitter.com/okuekimae?ref_src=twsrc%5Etfw">Tweets by okuekimae</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>		
		</section>
	
		<section class="wrap2-introduction wrap-item">
			<p class="introduction title">院長紹介</p>
			<img class="introduction-image" src="./images/introduction.png">
			<p class="introduction-job">院長</p>
			<p class="introduction-name">新井浩樹</p>
			<p class="introduction-description">この度ご縁があり、いわもと泌尿器科を継承させていただくこととなりました新井浩樹です。<br><br>
				1997年に大阪大学医学部医学科を卒業後、25年間に渡り6つの総合病院で臨床経験を積んで参りました。<br><br>これまでの経験を活かし、ご来院くださるすべての患者様に信頼される医療を提供できますよう日々の精進を欠かさず頑張っていく決意でございます。
				些細なことでもお気軽にご相談ください！!
				</p>
		</section>
		<section class="wrap2-3 wrap-item">
			<p class="clinic-point title">クリニック案内</p>
			<div class="wrap-image-clinic">
				<div class="clinic-point-content">
					<span class="clinic-point-text1">臨床経験豊富な医師に<br>気軽に相談可能</span>
					<img class="clinic-point-image" src="./images/clinic-point1.png">
				</div>

				<div class="clinic-point-content">
					<span class="clinic-point-text">アットホームな病院</span>
					<img class="clinic-point-image" src="./images/clinic-point2.png">
				</div>

				<div class="clinic-point-content">
					<span class="clinic-point-text">最新の設備が充実</span>
					<img class="clinic-point-image" src="./images/clinic-point3.png">
				</div>
			</div>
		</section>
		<section class="wrap2-4 wrap-item">
			<p class="treatment title">診療内容</p>
			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis1.jpeg">
					<p class="treatment-sub-title">男性泌尿器科</p>
					<p class="treatment-description">尿路結石、膀胱がん、腎臓がんなど</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis2.jpeg">
					<p class="treatment-sub-title">女性泌尿器科</p>
					<p class="treatment-description">膀胱炎、尿もれなど</p>
				</div>
			</div>

			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis3.jpeg">
					<p class="treatment-sub-title">小児泌尿器科</p>
					<p class="treatment-description">包茎、おねしょなど</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis4.jpeg">
					<p class="treatment-sub-title">漢方外来</p>
					<p class="treatment-description">泌尿器症状への漢方製剤</p>
				</div>
			</div>

			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis5.jpeg">
					<p class="treatment-sub-title">禁煙外来</p>
					<p class="treatment-description">貼り薬や飲み薬を使って治療</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis6.jpeg">
					<p class="treatment-sub-title">男性更年期</p>
					<p class="treatment-description">倦怠感・めまい・イライラなど</p>
				</div>
			</div>

			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis7.jpeg">
					<p class="treatment-sub-title">AGA</p>
					<p class="treatment-description">生え際後退、薄毛など</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis8.webp">
					<p class="treatment-sub-title">ED</p>
					<p class="treatment-description">勃起不全や維持できないなど</p>
				</div>
			</div>
		</section>
	</section>
<footer class="wrap-item">
	<p class="clinic-info title">クリニック情報</p>
	<div class="clinic-info-content">
		<div>
		<p class="map sub-title">住所</p>
		<p class="map content">〒669-1323</p>
		<p class="map content">兵庫県三田市あかしあ台 1-49-1</p>
		</div>

		<div>
		<p class="map sub-title">電話番号</p>
		<p class="map content">079-553-8886</p>
		</div>

		<div>
		<p class="map sub-title">アクセス</p>
		<p class="map content">新神戸駅からバスと徒歩で60分</p>
		</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3272.3412307221233!2d135.1845661!3d34.8978853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000650720017c01%3A0xdfaf2e3dbf3abcd4!2z44GE44KP44KC44Go5rOM5bC_5Zmo56eR!5e0!3m2!1sja!2sjp!4v1661932774319!5m2!1sja!2sjp" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
	<div class="clinic-info-content">
		<div>
		<p class="map sub-title">診療時間</p>
		<p class="map content">月〜金 10:00~19:00</p>
		</div>

		<iframe src="https://calendar.google.com/calendar/embed?src=addressbook%23contacts%40group.v.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" frameborder="0" scrolling="no"></iframe>
	</div>
</footer>
		
</body>

<style>

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

@media screen and (max-width: 1280px) {

	body {
		font-family: 'Noto Sans JP', sans-serif;
		background: #F5F5F7;
		width: 100vw;
		display: flex;
		flex-direction:column;
		align-items: center;
	}
	.header-label {
		background: #1A1C1C;
		position: fixed;
		width: 100vw;
		height: 16vw;
		left: 0%;
		right: 0%;
		top: 0px;
		z-index: 2;
	}

	.header-label-text {
		position: absolute;
		height: 4px;
		left: 38px;
		right: 37px;
		top: 4.5vw;
		font-weight: 500;
		font-size: 3vw;
		line-height: 4.5vw;
		text-align: center;
		color: #F5F5F7;
	}

	.main-image {
		position: relative;
		width:100vw;
		height: 64vh;
		left: 0px;
		display:-webkit-flex;
		display:-ms-flexbox;
		display: flex;
		flex-direction:column;
		justify-content: flex-start;
	}
	.main-image-content {
		width: 100vw;
		height: 80vh;
		object-fit: cover;
	}
	.main-image-text {
		position: absolute;
		top: 30vh;
		left: 9vw;
		font-weight: 900;
		font-size: 6vw;
		line-height: 12vw;
		padding-top: 1vw;
		color: #FFFFFF;
		text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
	}
	.main-logo {
		position: absolute;
		top: 24vh;
		height: 10vw;
		left: 9vw;
	}

	.button-body {
		position: fixed;
		bottom: 120px;
		width: 300px;
		height: 120px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 16px 32px;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(4px);
		border-radius: 120px;
		z-index: 2;
	}
	.button-content1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 2vw;
		padding-bottom: 1vw;
		width: 100%;
		height: 100%;
	}
	.button-content2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 3vw;
		padding-left: 1vw;
		padding-bottom: 1vw;
		width: 100%;
		height: 100%;
	}
	.button-text1 {
		font-weight: 500;
		font-size: 30px;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 16px;
	}
	.button-text2 {
		font-weight: 500;
		font-size: 28px;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 20px;
	}
	.button-image {
		width: 40px;
		padding-top: 12px;
	}

	.wrap2 {
		display: flex;
		flex-direction: column;
		padding: 64px;
		gap: 240px;
	}

	iframe { 
		width: 86vw;
		height: 30vh; 
	}

	.title {
		font-weight: 700;
		font-size: 6vw;
		color: rgba(0, 0, 0, 0.87);

		position: relative;
		left: 0vw;
		padding-bottom: 8vw;
	}
	.wrap-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start; 	
	}
	.wrap2-notification {
		padding-top: 10vw;
	}
	.twitter-timeline {
		border-radius: 40px;
	}
	.wrap2-introduction {
		background: #FFFFFF;
		border-radius: 40px;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.introduction-image {
		border-radius: 40px;
	}
	.introduction-job {
		font-weight: 500;
		font-size: 2vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 64px;
	}
	.introduction-name {
		font-weight: 700;
		font-size: 4.5vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.86);
		padding-top: 32px;
	}
	.introduction-description {
		font-weight: 500;
		font-size: 2vw;
		line-height: 5vw;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 64px;
	}
	.clinic-point-content {
		position: relative;
	}
	.clinic-point-text1 {
		position: absolute;
		top: 90vw;
		left: 6vw;
		font-weight: 700;
		font-size: 7vw;
		line-height: 10vw;
		color: #FFFFFF;
	}
	.clinic-point-text {
		position: absolute;
		top: 100vw;
		left: 6vw;
		font-weight: 700;
		font-size: 7vw;
		line-height: 35px;
		color: #FFFFFF;
	}
	.clinic-point-image {
		width: 86vw;
		height: 120vw;
		border-radius: 40px;
		object-fit: cover;
	}
	.wrap-image-clinic {
		display: flex;
		flex-direction: column;
		gap: 128px;

	}
	.wrap-row-treatment {
		display: flex;
		flex-direction: row;
		gap: 64px;
		padding-bottom: 64px;
	}
	.treatment-image {
		width: 40vw;
		height: 40vw;
		border-radius: 40px;
		object-fit: cover;
	}
	.treatment-sub-title {
		font-weight: 500;
		font-size: 4vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 40px;
	}
	.treatment-description {
		font-weight: 400;
		font-size: 2.5vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 24px;
	}
	.sub-title {
		font-weight: 700;
		font-size: 3vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-bottom: 24px;
	}
	.content {
		font-weight: 500;
		font-size: 3vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-bottom: 12px;

	}
	.clinic-info-content {
		padding-bottom: 64px;
		display: flex;
		flex-direction: column;
		gap: 64px;
	}
}

</style>
