---
import '../styles/global.css';
---

<body>

	<section class="header-label content">
		<p class="header-label-text">待ち時間短縮のためご予約優先とさせていただきます、<br>
			ご来院の際はおしっこをためてお越しください</p>
	</section>

	<section class="main-image content">
		<img class="main-image-content" src="./images/top-green.png">
		<span class="main-image-text">患者様の笑顔のために <br>よりそう診療を目指して</span>
		<img class="main-logo" src="./images/logo.png">
	</section>

	<div class="button-body">
		<a class="button-content1" href="tel:09000000000">
			<img class="button-image" src="./images/phone.png">
			<span class="button-text1">電話</span>
		</a>
		<a class="button-content2" href="https://tol-app.jp/s/5st9gdv0o7t2hxn81l8i/lubj0z">
			<img class="button-image" src="./images/reserve.png">
			<span class="button-text2">LINE予約</span>
		</a>	
	</div>
	<section class="wrap1">
		<section class="wrap2-notification wrap-item">
			<p class="notify title">お知らせ</p>
			<a class="twitter-timeline" data-height="400" href="https://twitter.com/okuekimae?ref_src=twsrc%5Etfw">Tweets by okuekimae</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>		
		</section>
	
		<section class="wrap2-introduction wrap-item">
			<p class="introduction title">院長紹介</p>
			<img class="introduction-image" src="./images/introduction.png">
			<p class="introduction-job">院長</p>
			<p class="introduction-name">新井浩樹</p>
			<span class="introduction-description">この度ご縁があり、いわもと泌尿器科を継承させていただくこととなりました新井浩樹です。<br><br>
				1997年に大阪大学医学部医学科を卒業後、25年間に渡り6つの総合病院で臨床経験を積んで参りました。<br><br>これまでの経験を活かし、ご来院くださるすべての患者様に信頼される医療を提供できますよう、日々の精進を欠かさず頑張っていく決意でございます。
				<br><br>
				些細なことでもお気軽にご相談ください！

				<hr>

				<span class="introduction-history">
				<p class="introduction-subtitle">経歴、職歴</p>
				<br><br>
				●1997 大阪大学医学部医学科　卒業
				<br><br>
				●1997〜1998 大阪大学医学部付属病院泌尿器科勤務（研修医）
				各種検査、手術助手、入院患者さんの受け持ちなど基本的なことを学ぶ。
				<br><br>
				●1998〜1999  大阪警察病院泌尿器科勤務（研修医）現：大阪けいさつ病院
				基本的なことに加えて執刀医、外来担当などに従事。
				<br><br>
				●1999〜2001  国立大阪病院泌尿器科勤務　現：国立病院機構 大阪医療センター
				敷地内住み込みで勤務し、昼夜を問わず泌尿器科疾患の緊急対応に従事。
				<br><br>
				●2001〜2004 日本生命済生会　日生病院泌尿器科勤務
				成人病センター(現：大阪国際がんセンター)に長年にわたり勤務されておられた阪大の恩師のもと、癌治療について学ぶ。
				<br><br>
				●2004〜2008 東大阪市立総合病院泌尿器科勤務　現：市立東大阪医療センター
				外来診察、手術件数ともに多く、誠に多忙な病院で多くの臨床経験を積む。
				<br><br>
				●2008〜2023 公立学校共済組合　近畿中央病院泌尿器科
				長年に渡りひとりの患者様を担当することで初診から手術、術後の定期検査、再発時の治療など先を見通した細やかな対応を心がけてきました。
				<br><br>
				将来のことを考え開業準備を進めておりましたところ、ご縁をいただきいわもと泌尿器科を継承させていただくこととなりました。
				<br><br>
				<p class="introduction-subtitle">これまでの臨床経験</p>
				<br><br>
				副腎癌、腎臓癌、尿管癌、膀胱癌、尿道癌、尿膜管癌、前立腺癌、精巣癌、陰茎癌、後腹膜腫瘍、腎移植、停留精巣、陰嚢水腫、包茎、腎結石、尿管結石、膀胱結石、尿道結石、前立腺肥大症、神経因性膀胱、尿失禁、水腎症、男性不妊症、腎盂腎炎、膀胱炎、前立腺炎、尿道炎、性感染症、
				<br><br>
				<p class="introduction-job">主な手術件数(25年間の概算)</p>
				<br><br>
				●開腹手術
				<div class="introduction-detail">
				<p>根治的膀胱全摘除術(膀胱癌の手術) 70</p>
				<p>根治的前立腺全摘除術(前立腺癌の手術) 50</p>
				<p>根治的腎摘除術（腎臓癌の手術)30</p>
				</div>
				<br><br>
				●腹腔鏡手術
				<div class="introduction-detail">
				<p>腹腔鏡下副腎摘除術(副腎腫瘍の手術) 20</p>
				<p>腹腔鏡下腎摘除術(腎臓癌の手術) 100</p>
				<p>腹腔鏡下腎部分切除術(腎臓癌の手術)50</p>
				<p>腹腔鏡下前立腺全摘除術(前立腺癌の手術) 50</p>
				</div>		
				<br><br>
				●経尿道的手術
				<div class="introduction-detail">
				<p>経尿道的膀胱腫瘍切除術(膀胱癌の手術) 1700</p>
				<p>経尿道的前立腺切除術(前立腺肥大症の手術) 500</p>
				<p>経尿道的尿路結石破砕術(尿路結石の手術) 1000</p>
				<p>経尿道的尿管ステント留置術(尿管狭窄の手術) 2000</p>
				<p>内視内尿道切開術(尿道狭窄の手術)50</p>
				</div>
				<br><br>				
				●その他
				<div class="introduction-detail">
				<p>包茎手術　100</p>
				<p>精巣固定術(小児の停留精巣の手術) 50</p>
				<p>高位除睾術(精巣癌の手術) 40</p>
				<p>前立腺生検(前立腺の組織検査) 1500</p>
				<p>腎瘻増設術(水腎症のカテーテル手術) 100</p>
				<p>体外衝撃波結石破砕術（破砕装置による結石の手術） 1500</p>
				<br><br>
				<p class="introduction-subtitle">所属学会、資格</p>
				<br><br>
				<div class="introduction-detail">
				<p>日本泌尿器科学会認定泌尿器科専門医</p>
				<p>日本泌尿器科学会認定泌尿器科指導医</p>
				<p>日本泌尿器内視鏡・ロボティクス学会</p>
				<p>泌尿器腫瘍学会</p>
				<p>緩和ケア研修会修了</p>
				</div>
				<br><br>
				<p class="introduction-subtitle">論文</p>
				<br><br>
				膀胱内再発を来たした尿管原発小細胞癌の1例
				上田, 倫央,小林, 泰之,新井, 浩樹,本多, 正人,吉田, 恭太郎 泌尿器科紀要 62 (2), 93-97, 2016-02-29　A 63-year-old man who presented with asymptomatic gross hematuria was referred to our hospital. Left ureteral tumor (cT3N0M0) was diagnosed and left nephroureterectomy was performed. Pathological exam
				<br><br>
				膀胱原発カルチノイドの1例 : 本邦症例のアンケート調査を加えて
				上田, 倫央,新井, 浩樹,本多, 正人,吉田, 恭太郎 泌尿器科紀要 61 (11), 445-448, 2015-11-30　An 83-year-old man presented with asymptomatic macroscopic hematuria while being treated for　prostate cancer with hormonal therapy in January 2009. Cystoscopy revealed a 5mm surface-smooth non　peduncu
				<br><br>
				透析腎に発生した悪性リンパ腫の1例
				上原, 満,新井, 浩樹,室﨑, 伸和,本多, 正人,ギャヌ ラジャ, セレスタ,金宮, 健翁 泌尿器科紀要 59 (1), 17-21, 2013-01　A 71-year-old female on hemodialysis was referred to our hospital for a left renal mass which was incidentally found during a medical check-up. Abdominal computed tomography with intravenous contrast
				<br><br>
				化学療法とTURで膀胱温存できた膀胱原発小細胞癌の1例
				金宮, 健翁,新井, 浩樹,室崎, 伸和,本多, 正人,吉田, 恭太郎 泌尿器科紀要 58 (3), 165-168, 2012-03　A 78-year-old man was referred to our hospital for asymptomatic gross hematuria on April 16, 2007. Cystoscopy and abdominal computed tomography revealed a nonpapillary tumor at the upper area of the b
				<br><br>
				排尿困難をきたした前立腺貯留性嚢胞の1例
				金宮, 健翁,新井, 浩樹,室崎, 伸和,本多, 正人,吉田, 恭太郎 泌尿器科紀要 58 (3), 173-175, 2012-03　A 54-year-old man visited our clinic for dysuria. Transabdominal ultrasonography revealed a multilocular cyst at the neck of the bladder, and a cystoscopy revealed obstruction of the neck of the bladd
				<br><br>
				肺炎を伴った腎放線菌症の1例
				金宮, 健翁,新井, 浩樹,室崎, 伸和,本多, 正人,大崎，匡,原, 紘子,吉田, 恭太郎 泌尿器科紀要 58 (3), 155-158, 2012-03　A 55-year-old man was hospitalized for pneumonia. His fever did not subside despite administration of antibiotics ; therefore, he was referred to our hospital. A chest radiograph and thoracic computed
				膀胱上皮内癌に対するBCG膀胱内注入療法の治療成績と尿細胞診による治療効果の予測
				佐藤 英一,新井 浩樹,後藤 隆康,三浦 秀信,本多 正人,藤岡 秀樹,浦岡 孝子,辻本 正彦 日本泌尿器科学会雑誌 90 (12), 901-905, 1999
				<br><br>
				</div>
				</span>		
			</span>
		</section>
	</section>

	<section class="wrap2">
		<section class="wrap2-3 wrap-item">
			<p class="clinic-point title">クリニック案内</p>
			<div class="wrap-image-clinic">
				<div class="clinic-point-content">
					<span class="clinic-point-text1">臨床経験豊富な医師に<br>気軽に相談可能</span>
					<img class="clinic-point-image" src="./images/clinic-point1.png">
				</div>

				<div class="clinic-point-content">
					<span class="clinic-point-text">アットホームな病院</span>
					<img class="clinic-point-image" src="./images/clinic-point2.png">
				</div>

				<div class="clinic-point-content">
					<span class="clinic-point-text">最新の設備が充実</span>
					<img class="clinic-point-image" src="./images/clinic-point3.png">
				</div>
			</div>
		</section>
		<section class="wrap2-flow wrap-item">
			<p class="flow title">診療の流れ</p>
			<img class='clinic-flow-image' src="./images/clinic-flow.png">
			<p class="flow-description">
				泌尿器科というデリケートなジャンルなので「何をされるのかな?」と不安に 感じる方も多いと思いますが、 ほとんどの場合は簡単な問診と尿検査で済むことが多いです。
				<br><br>
				重大な病気が疑われる場合はさらに精密な検査が必要な場合もありますが、これまでの 豊富な臨床経験をもとに患者様の状況を把握し的確な治療方針をご提案させていただきます。
				<br><br>
				腎臓・膀胱・おしっこ関連のお悩みはお気軽に お問い合わせ下さい。
			</p>
		</section>
		<section class="wrap2-treatment wrap-item">
			<p class="treatment title">診療内容</p>

			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis1.jpeg">
					<p class="treatment-sub-title">男性泌尿器科</p>
					<p class="treatment-description">尿路結石、膀胱・腎臓がんなど</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis2.jpeg">
					<p class="treatment-sub-title">女性泌尿器科</p>
					<p class="treatment-description">膀胱炎、尿もれなど</p>
				</div>
			</div>

			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis3.jpeg">
					<p class="treatment-sub-title">小児泌尿器科</p>
					<p class="treatment-description">包茎、おねしょなど</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis4.jpeg">
					<p class="treatment-sub-title">漢方外来</p>
					<p class="treatment-description">泌尿器症状への漢方製剤</p>
				</div>
			</div>

			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis5.jpeg">
					<p class="treatment-sub-title">禁煙外来</p>
					<p class="treatment-description">貼り薬や飲み薬を使って治療</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis6.jpeg">
					<p class="treatment-sub-title">男性更年期</p>
					<p class="treatment-description">倦怠感・めまい・イライラなど</p>
				</div>
			</div>

			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis7.jpeg">
					<p class="treatment-sub-title">AGA</p>
					<p class="treatment-description">生え際後退、薄毛など</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis8.webp">
					<p class="treatment-sub-title">ED</p>
					<p class="treatment-description">勃起不全や維持できないなど</p>
				</div>
			</div>
		</section>
	</section>

	<section class="wrap2-footer wrap-item">
		<p class="clinic-info title">クリニック情報</p>
			<div>
			<p class="map-subtitle">住所</p>
			<p class="map-content">〒669-1323 兵庫県三田市あかしあ台 1-49-1</p>
			</div>
			<div>
			<p class="map-subtitle">電話番号</p>
			<p class="map-content">079-553-8886</p>
			</div>
			<div>
			<p class="map-subtitle">アクセス</p>
			<span class="map-content">
				三田ウッディタウンのあかしあ台コミュニティハウス前	
				<br><br>
				<p class="map-content-detail">電車</p>
				神戸電鉄「南ウッディタウン駅」で降り、はじかみ池公園に沿って徒歩約8分(ゆるやかな上り坂）。途中踏切のモニュメントのところからは、公園に沿わずに道路を渡りウッディタウン動物病院の横を通ればすぐです。
				<br><br>
				<p class="map-content-detail">バス</p>
				JR新三田駅から神姫バス利用、1番乗り場から41系統のバスです。「コミュニティホール前」バス停下車すぐです。
				<br><br>
				<p class="map-content-detail">車</p>
				■新三田駅方面から
				<br><br>
				三田市民病院前の道をウッディタウン内へ西進。三田幹線（神戸電鉄)ガードから3つ目信号(ローソンを超えて2つ目)を左折、200m先右側にあります。
				<br><br>
				■フラワータウン、神戸市方面から
				<br><br>
				三田幹線南ウッディタウン（ミドリ電化、阪急オアシスのところ)で側道に降り、降りたところの信号を左折。すぐのローソンを超えて2つめ信号左折。道沿い200m先右側。
				<br><br>
				■テクノパーク方面から
				<br><br>
				三田幹線南ウッディタウン(ミドリ電化、阪急オアシスのところ)で側道に降り、降りたところの信号を右折。すぐのローソンを超えて2つめ信号左折。道沿い200m先右側。
				<br><br>
			</span>
		</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3272.3412307221233!2d135.1845661!3d34.8978853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000650720017c01%3A0xdfaf2e3dbf3abcd4!2z44GE44KP44KC44Go5rOM5bC_5Zmo56eR!5e0!3m2!1sja!2sjp!4v1661932774319!5m2!1sja!2sjp" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
			<br><br>
			<br><br>
			<br><br>
			<p class="map-subtitle">診療時間</p>
			<p class="map-content">月〜金 10:00~19:00</p>
			<br><br>
			<br><br>
			<iframe src="https://calendar.google.com/calendar/embed?src=addressbook%23contacts%40group.v.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" frameborder="0" scrolling="no"></iframe>
	</section>
</body>

<style>

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

@media screen and (max-width: 1280px) {

	body {
		font-family: 'Noto Sans JP', sans-serif;
		width: 100vw;
		display: flex;
		flex-direction:column;
		align-items: center;
	}
	
	.wrap1 {
		background: #F5F5F7;
		display: flex;
		flex-direction: column;
		padding: 64px;
		gap: 240px;
	}

	.wrap2 {
		display: flex;
		flex-direction: column;
		padding: 240px 64px;
		gap: 240px;
	}

	iframe { 
		width: 86vw;
		height: 30vh; 
	}

	.title {
		font-weight: 700;
		font-size: 6vw;
		color: rgba(0, 0, 0, 0.87);
		position: relative;
		left: 0vw;
		padding-bottom: 8vw;
	}

	.header-label {
		background: #1A1C1C;
		position: fixed;
		width: 100vw;
		height: 16vw;
		left: 0%;
		right: 0%;
		top: 0px;
		z-index: 2;
	}

	.header-label-text {
		position: absolute;
		height: 4px;
		left: 38px;
		right: 37px;
		top:36px;
		font-weight: 700;
		font-size: 3vw;
		line-height: 4.5vw;
		text-align: center;
		color: #F5F5F7;
	}

	.main-image {
		position: relative;
		width:100vw;
		height: 64vh;
		left: 0px;
		display:-webkit-flex;
		display:-ms-flexbox;
		display: flex;
		flex-direction:column;
		justify-content: flex-start;
	}
	.main-image-content {
		width: 100vw;
		height: 80vh;
		object-fit: cover;
	}
	.main-image-text {
		position: absolute;
		top: 30vh;
		left: 9vw;
		font-weight: 900;
		font-size: 6vw;
		line-height: 12vw;
		padding-top: 1vw;
		color: #FFFFFF;
		text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
	}
	.main-logo {
		position: absolute;
		top: 24vh;
		height: 10vw;
		left: 9vw;
	}

	.button-body {
		position: fixed;
		bottom: 6vh;
		width: 300px;
		height: 120px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 16px 32px;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(4px);
		border-radius: 120px;
		z-index: 2;
	}
	.button-content1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 2vw;
		padding-bottom: 1vw;
		width: 100%;
		height: 100%;
	}
	.button-content2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 3vw;
		padding-left: 1vw;
		padding-bottom: 1vw;
		width: 100%;
		height: 100%;
	}
	.button-text1 {
		font-weight: 500;
		font-size: 30px;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 16px;
	}
	.button-text2 {
		font-weight: 500;
		font-size: 28px;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 20px;
	}
	.button-image {
		width: 40px;
		padding-top: 12px;
	}

	.wrap-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start; 	
	}
	.wrap2-notification {
		padding-top: 64px;
	}
	.twitter-timeline {
		border-radius: 40px;
	}
	.wrap2-introduction {
		background: #FFFFFF;
		border-radius: 40px;
		padding-top: 120px;
		padding-bottom: 120px;
		padding-left: 6vw;
		padding-right: 6vw;
	}
	.introduction-image {
		border-radius: 40px;
		filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
	}
	.introduction-job {
		font-weight: 500;
		font-size: 3.5vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 64px;
	}
	.introduction-name {
		font-weight: 700;
		font-size: 4.5vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.86);
		padding-top: 32px;
	}
	.introduction-description {
		font-weight: 500;
		font-size: 3.5vw;
		line-height: 5vw;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 64px;
	}
	
	hr {
		margin-top: 120px;
	}

	.introduction-subtitle {
		font-weight: 500;
		font-size: 4vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 64px;
	}

	.introduction-history {
		font-weight: 400;
		font-size: 3.5vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.56);
		padding-top: 32px;
	}

	div.introduction-detail p {
		padding: 8px 0px;
	}
	.clinic-point-content {
		position: relative;
	}
	.clinic-point-text1 {
		position: absolute;
		top: 90vw;
		left: 6vw;
		font-weight: 700;
		font-size: 7vw;
		line-height: 10vw;
		color: #FFFFFF;
	}
	.clinic-point-text {
		position: absolute;
		top: 100vw;
		left: 6vw;
		font-weight: 700;
		font-size: 7vw;
		line-height: 35px;
		color: #FFFFFF;
	}
	.clinic-point-image {
		width: 86vw;
		height: 120vw;
		border-radius: 40px;
		object-fit: cover;
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
	}
	.wrap-image-clinic {
		display: flex;
		flex-direction: column;
		gap: 128px;

	}
	.wrap2-flow {
		background: #F5F5F7;
		border-radius: 40px;
		padding-top: 140px;
		padding-bottom: 80px;
		padding-left: 4vw;
		filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.16));
	}
	.clinic-flow-image {
		width: 72%;
		padding-top: 160px;
		padding-bottom: 80px;
		object-fit: cover;
		padding-left: 9vw;
	}
	.flow-description {
		font-weight: 500;
		font-size: 2vw;
		line-height: 5vw;
		color: rgba(0, 0, 0, 0.6);
		padding: 16px 64px;
	}
	.wrap2-treatment {
		border-radius: 40px;
		padding-top: 140px;
		padding-bottom: 80px;
	}
	.wrap-row-treatment {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 64px;
		gap: 7vw;
	}
	.treatment-image {
		width: 40vw;
		height: 40vw;
		border-radius: 40px;
		object-fit: cover;
		filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.16));
	}
	.treatment-sub-title {
		font-weight: 500;
		font-size: 4vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 40px;
	}
	.treatment-description {
		font-weight: 400;
		font-size: 2.5vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 24px;
	}

	.map-content {
		font-weight: 500;
		font-size: 3.5vw;
		line-height: 6vw;
		color: rgba(0, 0, 0, 0.64);
		padding-bottom: 12px;
	}
	.map-subtitle {
		font-weight: 700;
		font-size: 4.5vw;
		color: rgba(0, 0, 0, 0.87);
		padding-bottom: 32px;
		padding-top: 32px;
	}

	.map-content-detail {
		font-weight: 500;
		font-size: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-bottom: 24px;
	}

	.clinic-info-content {
		padding-bottom: 64px;
		display: flex;
		flex-direction: column;
		gap: 64px;
	}
	.clinic-info {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.wrap2-footer {
		background: #F5F5F7;
		padding: 64px;
	}
}

</style>
