---
import '../styles/global.css';
---

<body class="wrap">
	<section class="header-label content">
		<p class="header-label-text">待ち時間短縮のためご予約優先とさせていただきます、<br>
			ご来院の際は採尿に備えてお越しください</p>
	</section>
	<section class="main-image content">
			<img src="./images/top_image_logo.png">
			<p class="main-image-text">患者様の笑顔のために <br>よりそう診療を目指して<p/>
	</section>
	<section class="content">
		<h1>ああああああhhああ</h1>
	</section>
	<section class="content">
		<h1>穴っっっっっっｒ</h1>
	</section>
</body>

<style>

.wrap {
	background: #F5F5F7;
	display: block;
}
.content {
	padding: 0px;
}

.main-image {
	position: relative;
	width:100vw;
	height: 416px;
	left: 0px;
	display:-webkit-flex;
	display:-ms-flexbox;
	display: flex;
	flex-direction:column;
 	align-items: center;
	justify-content: center;
	background-image: url(./images/top_image.jpeg);
	background-size: cover;	
}
.main-image-text {
	font-family: "Noto Sans JP", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 42px;
	padding: auto;

	/* Light/Base/Purewhite */
	color: #FFFFFF;
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

.header-label {
	background: #1A1C1C;
	position: relative;
	height: 68px;
	left: 0%;
	right: 0%;
	top: 0px;
}

.header-label-text {
	position: absolute;
	height: 44px;
	left: 38px;
	right: 37px;
	top: 12px;

	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 22px;
	/* or 183% */

	text-align: center;

	color: #F5F5F7;
}

</style>
