---
import '../styles/global.css';
---

<body class="wrap">
	<section class="header-label content">
		<p class="header-label-text">待ち時間短縮のためご予約優先とさせていただきます、<br>
			ご来院の際は採尿に備えてお越しください</p>
	</section>
	<section class="main-image content">
			<img src="./images/top_image_logo.png">
			<p class="main-image-text">患者様の笑顔のために <br>よりそう診療を目指して<p/>
	</section>
	<section class="content">
		<h1>ああああああhhssああ</h1>
	</section>
	<section class="content">
		<h1>ddd</h1>
	</section>
	<section class="slide-content">
		<img class="slide-image" src="./images/clinic.jpeg">
		<img class="slide-image" src="./images/clinic.jpeg">
		<img class="slide-image" src="./images/clinic.jpeg">
		<img class="slide-image" src="./images/clinic.jpeg">
		<img class="slide-image" src="./images/clinic.jpeg">
	</section>
	<div class="wrap2">
		<div class="wrap2-1">
			<div class="wrap2-1-1">
				<p class="notify-title">お知らせ</p>
					<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2F20531316728%2Fposts%2F10154009990506729%2F&show_text=true&height=274&appId" height="274" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
			</div>
			<div class="wrap2-1-2">
				<p class="introduction-title">院長紹介</p>
				<div class="wrap2-1-2-1">
				</div>
			</div>
		</div>

	</div>
<footer>
	<div class="home-access-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.8278403085565!2d139.6306908149484!3d35.60731308021156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f5383b3619e9%3A0xc0ea50367a13f909!2z44K544K_44O844OQ44OD44Kv44K5IOOCs-ODvOODkuODvCDkuozlrZDnjonlt53lhazlnJLlupc!5e0!3m2!1sja!2sjp!4v1660041568468!5m2!1sja!2sjp" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>
		
</body>

<style>
@media screen and (max-width: 1280px) {

body {
	background: #F5F5F7;
	width:100vw;
	display: flex;
	flex-direction:column;
 	align-items: center;
}

.main-image {
	position: relative;
	width:100vw;
	height: 416px;
	left: 0px;
	display:-webkit-flex;
	display:-ms-flexbox;
	display: flex;
	flex-direction:column;
 	align-items: center;
	justify-content: center;
	background-image: url(./images/top_image.png);
	background-size: cover;	
}
.main-image-text {
	font-family: "Noto Sans JP", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 42px;
	padding: auto;

	/* Light/Base/Purewhite */
	color: #FFFFFF;
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

.header-label {
	background: #1A1C1C;
	position: relative;
	width:100vw;
	height: 68px;
	left: 0%;
	right: 0%;
	top: 0px;
}

.header-label-text {
	position: absolute;
	height: 44px;
	left: 38px;
	right: 37px;
	top: 12px;

	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 22px;
	/* or 183% */

	text-align: center;

	color: #F5F5F7;
}

.slide-content {
	display:-webkit-flex;
	display:-ms-flexbox;
	display: flex;
	flex-direction:row;
	padding-top: 16px;
	gap: 16px;
}
.slide-image {
	height: 120px;
	border-radius: 8px;
}
.wrap2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
}
.wrap2-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 64px;
}
.wrap2-1-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
}
.wrap2-1-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 56px 32px;
	gap: 40px;
	background: #FFFFFF;
	border-radius: 24px;
}
}

</style>
