---
import '../styles/global.css';
---

<body class="wrap">
	<section class="header-label content">
		<p class="header-label-text">待ち時間短縮のためご予約優先とさせていただきます、<br>
			ご来院の際は採尿に備えてお越しください</p>
	</section>
	<section class="main-image content">
		<img class="main-logo" src="./images/top_image_logo.png">
		<p class="main-image-text">患者様の笑顔のために <br>よりそう診療を目指して<p/>
	</section>
	
	<section class="wrap2">
		<section class="wrap2-notification wrap-item">
			<p class="notify title">お知らせ</p>
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Frankingcom%2F&tabs=timeline&width=500&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId=220061762493679" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
		</section>
	
		<section class="wrap2-introduction wrap-item">
			<p class="introduction title">院長紹介</p>
			<img class="introduction-image" src="./images/top_image.jpeg">
			<p class="introduction-job">院長</p>
			<p class="introduction-name">新井浩樹</p>
			<p class="introduction-description">自己自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介</p>
		</section>
		<section class="wrap2-3 wrap-item">
			<p class="clinic-point title">クリニック案内</p>
			<div class="wrap-image-clinic">
				<div class="clinic-point-content">
					<span class="clinic-point-text">最高の病院</span>
					<img class="clinic-point-image" src="./images/clinic.jpeg">
				</div>

				<div class="clinic-point-content">
					<span class="clinic-point-text">最高の病院</span>
					<img class="clinic-point-image" src="./images/clinic.jpeg">
				</div>

				<div class="clinic-point-content">
					<span class="clinic-point-text">最高の病院</span>
					<img class="clinic-point-image" src="./images/clinic.jpeg">
				</div>
			</div>
		</section>
		<section class="wrap2-4 wrap-item">
			<p class="treatment title">診療内容</p>
			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis2.jpeg">
					<p class="treatment-sub-title">男性泌尿器科</p>
					<p class="treatment-description">尿路結石、膀胱がん、腎臓がんなど</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis2.jpeg">
					<p class="treatment-sub-title">男性泌尿器科</p>
					<p class="treatment-description">尿路結石、膀胱がん、腎臓がんなど</p>
				</div>
			</div>

			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis2.jpeg">
					<p class="treatment-sub-title">男性泌尿器科</p>
					<p class="treatment-description">尿路結石、膀胱がん、腎臓がんなど</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis2.jpeg">
					<p class="treatment-sub-title">男性泌尿器科</p>
					<p class="treatment-description">尿路結石、膀胱がん、腎臓がんなど</p>
				</div>
			</div>

			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis2.jpeg">
					<p class="treatment-sub-title">男性泌尿器科</p>
					<p class="treatment-description">尿路結石、膀胱がん、腎臓がんなど</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis2.jpeg">
					<p class="treatment-sub-title">男性泌尿器科</p>
					<p class="treatment-description">尿路結石、膀胱がん、腎臓がんなど</p>
				</div>
			</div>

			<div class="wrap-row-treatment">
				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis2.jpeg">
					<p class="treatment-sub-title">男性泌尿器科</p>
					<p class="treatment-description">尿路結石、膀胱がん、腎臓がんなど</p>
				</div>

				<div class="treatment-content">
					<img class="treatment-image" src="./images/dignosis2.jpeg">
					<p class="treatment-sub-title">男性泌尿器科</p>
					<p class="treatment-description">尿路結石、膀胱がん、腎臓がんなど</p>
				</div>
			</div>
		</section>
	</section>
<footer class="wrap-item">
	<p class="clinic-info title">クリニック情報</p>
	<div class="clinic-info-content">
		<div>
		<p class="map sub-title">住所</p>
		<p class="map content">〒669-1323</p>
		<p class="map content">兵庫県三田市あかしあ台 1-49-1</p>
		</div>

		<div>
		<p class="map sub-title">電話番号</p>
		<p class="map content">079-553-8886</p>
		</div>

		<div>
		<p class="map sub-title">アクセス</p>
		<p class="map content">新神戸駅からバスと徒歩で60分</p>
		</div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.8278403085565!2d139.6306908149484!3d35.60731308021156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f5383b3619e9%3A0xc0ea50367a13f909!2z44K544K_44O844OQ44OD44Kv44K5IOOCs-ODvOODkuODvCDkuozlrZDnjonlt53lhazlnJLlupc!5e0!3m2!1sja!2sjp!4v1660041568468!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
	<div class="clinic-info-content">
		<div>
		<p class="map sub-title">診療時間</p>
		<p class="map content">月〜金 10:00~19:00</p>
		</div>

		<iframe src="https://calendar.google.com/calendar/embed?src=addressbook%23contacts%40group.v.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" frameborder="0" scrolling="no"></iframe>
	</div>
</footer>
		
</body>

<style>
@media screen and (max-width: 1280px) {

	body {
		background: #F5F5F7;
		width: 100vw;
		display: flex;
		flex-direction:column;
		align-items: center;
	}
	.header-label {
		background: #1A1C1C;
		position: relative;
		width: 100vw;
		height: 12vw;
		left: 0%;
		right: 0%;
		top: 0px;
	}

	.header-label-text {
		position: absolute;
		height: 4px;
		left: 38px;
		right: 37px;
		top: 3vw;

		font-family: 'Noto Sans JP';
		font-style: normal;
		font-weight: 700;
		font-size: 2vw;
		line-height: 3vw;
		text-align: center;
		color: #F5F5F7;
	}

	.main-image {
		position: relative;
		width:100vw;
		height: 64vh;
		left: 0px;
		display:-webkit-flex;
		display:-ms-flexbox;
		display: flex;
		flex-direction:column;
		align-items: center;
		justify-content: center;
		background-image: url(./images/top-green.png);
		background-size: auto 100%;

	}
	.main-image-text {
		font-family: "Noto Sans JP", sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 6vw;
		line-height: 12vw;
		padding-top: 3vw;
		color: #FFFFFF;
		text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
	}
	.main-logo {
		height: 10vw;
	}

	/* .slide-content {
		overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	padding: 0 0 12px 8px;
	display: -ms-flexbox;
	display: flex; 
		padding-top: 16px;
		gap: 16px;

	}
	.slide-image {
		height: 20vw;
		border-radius: 8px;
	} */

	.wrap2 {
		display: flex;
		flex-direction: column;
		padding: 64px;
		gap: 240px;
	}

	iframe { 
		width: 86vw;
		height: 30vh; 
	}

	.title {
		font-family: 'Noto Sans JP';
		font-style: normal;
		font-weight: 700;
		font-size: 6vw;
		color: rgba(0, 0, 0, 0.87);

		position: relative;
		left: 0vw;
		padding-bottom: 8vw;
	}
	.wrap-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start; 	
	}
	.wrap2-notification {
		padding-top: 10vw;

	}
	.wrap2-introduction {
		background: #FFFFFF;
		border-radius: 40px;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.introduction-image {
		border-radius: 40px;
	}
	.introduction-job {
		font-family: 'Noto Sans JP';
		font-style: normal;
		font-weight: 500;
		font-size: 2vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 48px;
	}
	.introduction-name {
		font-family: 'Noto Sans JP';
		font-style: normal;
		font-weight: 700;
		font-size: 4.5vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.86);
		padding-top: 32px;
	}
	.introduction-description {
		font-family: 'Noto Sans JP';
		font-style: normal;
		font-weight: 500;
		font-size: 1.5vw;
		line-height: 5vw;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 48px;
	}
	.clinic-point-content {
		position: relative;
	}
	.clinic-point-text {
		position: absolute;
		top: 100vw;
		left: 6vw;

		font-family: 'Noto Sans JP';
		font-style: normal;
		font-weight: 700;
		font-size: 7vw;
		line-height: 35px;
		color: #121212;
	}
	.clinic-point-image {
		width: 86vw;
		height: 120vw;
		border-radius: 40px;
	}
	.wrap-image-clinic {
		display: flex;
		flex-direction: column;
		gap: 128px;

	}
	.wrap-row-treatment {
		display: flex;
		flex-direction: row;
		gap: 64px;
		padding-bottom: 64px;
	}
	.treatment-image {
		width: 40vw;
		height: 40vw;
		border-radius: 40px;
	}
	.treatment-sub-title {
		font-family: 'Noto Sans JP';
		font-style: normal;
		font-weight: 500;
		font-size: 4vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 40px;
	}
	.treatment-description {
		font-family: 'Noto Sans JP';
		font-style: normal;
		font-weight: 400;
		font-size: 2.5vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 24px;
	}
	.sub-title {
		font-family: 'Noto Sans JP';
		font-style: normal;
		font-weight: 700;
		font-size: 3vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-bottom: 24px;
	}
	.content {
		font-family: 'Noto Sans JP';
		font-style: normal;
		font-weight: 500;
		font-size: 3vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.87);
		padding-bottom: 12px;

	}
	.clinic-info-content {
		padding-bottom: 64px;
		display: flex;
		flex-direction: column;
		gap: 64px;
	}
}

</style>
