---
import '../styles/global.css';
import { SEO } from "astro-seo";
---

<html lang="jp">
  <head>
	<meta charset="UTF-8">
    <SEO
      title="あらい腎泌尿器科クリニック｜三田のアットホームな泌尿器科"
      description="あらい腎泌尿器科クリニックは大阪大学卒の医師が院長をつとめる泌尿器科です。男性、女性子供問わず三田で患者様に寄り添った治療を目指して診療しております。お気軽にご来診ください。" />
	  <link rel="preconnect" href="https://fonts.googleapis.com">
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700;900&display=swap" rel="stylesheet">
	</head>
<body>
	<header class="header-label">
		<p class="header-label-text">ご来院の際はおしっこをためてお越しください</p>
	</header>
	<img class="main-bg" src="./images/top-sky.png" >
	<section class="main-image">
		<img class="main-logo" src="./images/logo.png" alt="あらい腎泌尿器科クリニックのロゴ">
		<span class="main-image-text1">患者様の笑顔のために🍀 </span>
		<span class="main-image-text2">🍀よりそう診療を目指して</span>
		<span class="main-image-description1">TEL:<a>079-553-8886</a></span>
		<span class="main-image-description2">〒669-1323 兵庫県三田市あかしあ台1-49-1</span>
		<span class="main-image-description3">スギドラッグあかしあ台店むかい</span>
		<span class="main-image-description4"><a>大阪大学医学部卒業</a> 院長 新井浩樹</span>
	</section>

	<section class="wrap1">
		<section class="wrap1-nav">
			<div>
				<a href="#notify">1</a>
				<a href="#introduction">2</a>
				<a href="#clinic-point">3</a>
			</div>
			<div>
				<a href="#flow">4</a>
				<a href="#treatment">5</a>
				<a href="#footer">6</a>
			</div>
		</section>

		<section class="wrap1-notification">
			<p class="notify title" id="notify">お知らせ</p>
			<iframe class="notify-frame" src="https://docs.google.com/document/d/e/2PACX-1vQ3TmIKRviKAEv5RgKa0HFwwWnKWzBbj6rL-N8KdhcVRnXuCS43XKh_HhsN9k25YKJKKlRitt0Be1iK/pub?embedded=true"></iframe>	 <style>  iframe { width: 100%; height: 40vw; border-radius: 40px;}  </style>	
		</section>
		<section class="wrap1-introduction">
			<p class="introduction title" id="introduction">院長紹介</p>
			<img class="introduction-image" src="./images/introduction.jpg" alt="あらい腎泌尿器科クリニックの院長新井浩樹の画像">
			<p class="introduction-job">院長</p>
			<p class="introduction-name">新井浩樹</p>
			<aside class="introduction-description">この度良いご縁があり、<br>いわもと泌尿器科を継承させていただくこととなりましたあらい腎泌尿器科クリニックの院長、新井浩樹です。<br><br>
				1997年に大阪大学医学部医学科を卒業後、25年間に渡り6つの総合病院で臨床経験を積んで参りました。<br><br>これまでの経験を活かし、ご来院くださるすべての患者様に信頼される医療を提供できますよう、日々の精進を欠かさず頑張っていく決意でございます。
				<br><br>
				些細なことでもお気軽にご相談ください

				<hr>

				<aside class="introduction-history">
				<p class="introduction-subtitle">経歴、職歴</p>
				<br><br>
				●1997 大阪大学医学部医学科 卒業
				<br><br>
				●1997〜1998 大阪大学医学部付属病院勤務（研修医）
				<br>
				各種検査、手術助手、入院患者さんの受け持ちなど基本的なことを学ぶ。
				<br><br>
				●1998〜1999  大阪警察病院勤務（研修医）現：大阪けいさつ病院
				<br>基本的なことに加えて執刀医、外来担当などに従事。
				<br><br>
				●1999〜2001  国立大阪病院勤務 現：国立病院機構 大阪医療センター
				<br>
				敷地内住み込みで勤務し、昼夜を問わず泌尿器科疾患の緊急対応に従事。
				<br><br>
				●2001〜2004 日本生命済生会 日生病院勤務
				<br>
				成人病センター(現：大阪国際がんセンター)に長年にわたり勤務されておられた<br>阪大の恩師のもと、癌治療について学ぶ。
				<br><br>
				●2004〜2008 東大阪市立総合病院勤務 現：市立東大阪医療センター
				<br>
				外来診察、手術件数ともに多く、誠に多忙な病院で多くの臨床経験を積む。
				<br><br>
				●2008〜2023 公立学校共済組合
				<br>近畿中央病院
				<br>
				長年に渡りひとりの患者様を担当することで初診から手術、術後の定期検査、再発時の治療など先を見通した細やかな対応を心がけてきました。
				<br><br>
				将来のことを考え開業準備を進めておりましたところ、良いご縁をいただき、<br>いわもと泌尿器科を継承させていただくこととなりました。
				<br><br>
				<p class="introduction-subtitle">これまでの臨床経験</p>
				<br><br>
				副腎癌、腎臓癌、尿管癌、膀胱癌、尿道癌、尿膜管癌、前立腺癌、精巣癌、陰茎癌、後腹膜腫瘍、腎移植、停留精巣、陰嚢水腫、包茎、腎結石、尿管結石、膀胱結石、尿道結石、前立腺肥大症、神経因性膀胱、尿失禁、水腎症、男性不妊症、間質性膀胱炎、腎盂腎炎、膀胱炎、前立腺炎、尿道炎、性感染症など。
				<br><br>
				その他、泌尿器科疾患全般を経験しております。
				<br><br>
				<p class="introduction-job">主な手術件数(25年間の概算)</p>
				<br><br>
				●開腹手術
				<div class="introduction-detail">
				<p>根治的膀胱全摘除術(膀胱癌の手術) 70</p>
				<p>根治的前立腺全摘除術(前立腺癌の手術) 50</p>
				<p>根治的腎摘除術（腎臓癌の手術)30</p>
				</div>
				<br><br>
				●腹腔鏡手術
				<div class="introduction-detail">
				<p>腹腔鏡下副腎摘除術(副腎腫瘍の手術) 20</p>
				<p>腹腔鏡下腎摘除術(腎臓癌の手術) 100</p>
				<p>腹腔鏡下腎部分切除術(腎臓癌の手術)50</p>
				<p>腹腔鏡下前立腺全摘除術(前立腺癌の手術) 50</p>
				</div>		
				<br><br>
				●経尿道的手術
				<div class="introduction-detail">
				<p>経尿道的膀胱腫瘍切除術(膀胱癌の手術) 1700</p>
				<p>経尿道的前立腺切除術(前立腺肥大症の手術) 500</p>
				<p>経尿道的尿路結石破砕術(尿路結石の手術) 1000</p>
				<p>経尿道的尿管ステント留置術(尿管狭窄の手術) 2000</p>
				<p>内視内尿道切開術(尿道狭窄の手術)50</p>
				</div>
				<br><br>				
				●その他
				<div class="introduction-detail">
				<p>包茎手術　100</p>
				<p>精巣固定術(小児の停留精巣の手術) 50</p>
				<p>高位除睾術(精巣癌の手術) 40</p>
				<p>前立腺生検(前立腺の組織検査) 1500</p>
				<p>腎瘻増設術(水腎症のカテーテル手術) 100</p>
				<p>体外衝撃波結石破砕術（破砕装置による結石の手術） 1500</p>
				<br><br>
				</div>
				<p class="introduction-subtitle">所属学会、資格</p>
				<br><br>
				<div class="introduction-detail">
				<p>日本泌尿器科学会認定泌尿器科専門医</p>
				<p>日本泌尿器科学会認定泌尿器科指導医</p>
				<p>日本泌尿器内視鏡・ロボティクス学会</p>
				<p>泌尿器腫瘍学会</p>
				<p>緩和ケア研修会修了</p>
				</div>
				</aside>
			</aside>
		</section>
	</section>

	<section class="wrap2">
		<section class="wrap2-clinic-point">
			<p class="clinic-point title" id="clinic-point">クリニック案内</p>
			<div class="wrap-image-clinic">
				<div class="clinic-point-content">
					<span class="clinic-point-text1">準備中<br>準備中</span>
					<img class="clinic-point-image" src="./images/clinic-point1.png" alt="あらい腎泌尿器科の押しポイント1">
				</div>

				<div class="clinic-point-content">
					<span class="clinic-point-text">準備中</span>
					<img class="clinic-point-image" src="./images/clinic-point2.png" alt="あらい腎泌尿器科の押しポイント2">
				</div>

				<div class="clinic-point-content">
					<span class="clinic-point-text">準備中</span>
					<img class="clinic-point-image" src="./images/clinic-point3.png" alt="あらい腎泌尿器科の押しポイント3">
				</div>
			</div>
		</section>
		<section class="wrap2-flow" id="flow">
			<p class="flow title">診療の流れ</p>
			<img class='clinic-flow-image' src="./images/clinic-flow.png" alt="あらい腎泌尿器科の診察の流れ">
			<p class="flow-description">
				泌尿器科というデリケートなジャンルなので「何をされるのかな?」と不安に 感じる方も多いと思いますが、 ほとんどの場合は簡単な問診と尿検査で済むことが多いです。
				<br><br>
				重大な病気が疑われる場合はさらに精密な検査が必要な場合もありますが、あらい腎泌尿器科クリニックではこれまでの 豊富な臨床経験をもとに患者様の状況を把握し的確な治療方針をご提案させていただきます。
				<br><br>
				おしっこ関連のお悩みに限らずお気軽にお問い合わせ下さい。
			</p>
		</section>
		<section class="wrap2-treatment" id="treatment">
			<p class="treatment title">診療内容</p>
			<details>
				<summary>尿に血が混じる。血尿を指摘された</summary>
				<span>
					健診や病院での尿検査で、「おしっこに血が混じってます」とか「尿潜血陽性です」とかいわれることがあると思います。
					<br><br>
					おしっこが赤いなど、尿に血が混じることを目でみて判断できる肉眼的血尿はさらに重要な病気のサインです。
					<br><br>
					がんなどの重要な病気の危険信号の場合がありますので、至急受診してください。
				</span>
			</details>
			<details>
				<summary>尿が近い、尿の回数が多い～頻尿～</summary>
				<span>
					「尿が近い、尿の回数が多い」という症状を頻尿といいます。一般的には、朝起きてから就寝までの排尿回数が8回以上の場合を頻尿といいます。
					<br><br>
					しかし、1日の排尿回数は人によって様々ですので、一概に1日に何回以上の排尿回数が異常とはいえず、8回以下の排尿回数でも自分自身で排尿回数が多いと感じる場合には頻尿といえます。
					<br><br>
					お薬などの治療で改善が期待できますので、お気軽にご相談ください。
				</span>
			</details>			
			<details>
				<summary>夜間、何度も排尿で起きる</summary>
				<span>
					夜間、排尿のために1回以上起きなければならない症状を夜間頻尿といいます。加齢とともに頻度が高くなります。
					<br><br>
					夜間頻尿は、日常⽣活において支障度の高い症状です。お薬などの治療で改善が期待できますので、ぜひご相談ください。
				</span>
			</details>			
			<details>
				<summary>尿が漏れる・尿失禁がある</summary>
				<span>
					尿失禁とは自分の意思とは関係なく尿が漏れてしまうことと定義づけられています。
					<br><br>
					40歳以上の女性の4割以上が経験しており、実際に悩んでおられる方は実は大変に多いのですが、恥ずかしいので我慢している方がほとんどです。
					<br><br>
					尿失禁の状態や原因に応じてきちんとした治療法がありますので、我慢せずに泌尿器科を受診してください。
				</span>
			</details>			
			<details>
				<summary>尿が出にくい・尿の勢いが弱い・尿をするのに時間がかかる</summary>
				<span>
					「尿が出にくい・尿の勢いが弱い・尿をするのにお腹に力を入れる」などの排尿症状は、膀胱から尿道出口への尿の通過が妨げられる場合（通過障害）、あるいは膀胱がうまく収縮できない（膀胱収縮障害）場合に起こります。
					<br><br>
					通過障害で最も頻度の高いものは男性における前立腺肥大症です。膀胱収縮障害は男女とも神経因性膀胱で起こります。また、膀胱収縮障害は、メタボリック症候群に伴う膀胱の血流障害や加齢による膀胱の老化現象としてみられることもあります。
					<br><br>
					放置すると尿が出なくなる恐れもありますので、我慢せずに泌尿器科を受診してください。
				</span>
			</details>			
			<details>
				<summary>尿が残っている感じがある　～残尿感～</summary>
				<span>
					残尿感とは、おしっこをした（排尿）後も、「尿が出きっていない感じ」、「尿が残っている感じ」があるという症状です。
					<br><br>
					実際に尿が残っていることもありますし、尿が残っていないのに残尿感を感じることもあります。細菌感染症などの可能性がありますので、我慢せずに泌尿器科を受診してください。
				</span>
			</details>			
			<details>
				<summary>排尿痛がある、排尿時に痛い</summary>
				<span>
					尿道から侵入した細菌によって起こる感染症のことが多いです。その他に、尿道結石、間質性膀胱炎、膀胱や尿道の悪性腫瘍などの特殊な疾患が排尿時痛に関与することもあります。
					<br><br>
					お薬などの治療で改善が期待できますので、ぜひご相談ください。
				</span>
			</details>			
			<details>
				<summary>PSAが高いと言われた</summary>
				<span>
					PSA(ピーエスエー)は「前立腺特異抗原、prostate-specific antigen」の略語で、前立腺の上皮細胞から分泌されるタンパクであり、前立腺がんの腫瘍マーカーです。
					<br><br>
					一般的には4ng/mL以上になった場合に「PSAが高い」と言われ、前立腺がんを疑って精密検査が必要になります。
				</span>
			</details>			
			<details>
				<summary>おねしょ(夜尿症）が治らない</summary>
				<span>
					子どものおねしょは、「5歳以上で1か月に1回以上の頻度で夜間睡眠中の尿失禁を認めるものが3か月以上つづくもの」と定義されます。
					<br><br>
					7歳児における夜尿症の有病率(病気をもっている人の割合)は10%程度とされ、その後は年間15%ずつ自然に治るとされますが、0.5~数％は夜尿が解消しないまま成人に移行するといわれています。
					<br><br>
					生活指導をはじめとする治療介入により、自然経過に比べて治癒率を2~3倍、高めることができ、治癒までの期間が短縮するといわれています。
				</span>
			</details>			
			<details>
				<summary>「子供の精巣が降りていない」と言われた</summary>
				<span>
					精巣は胎児期にお腹の中で発生し、出生前に陰嚢内まで下降していきます。精巣の下降が不完全で陰嚢内に触知しない状態を「停留精巣」といいます。
					<br><br>
					乳児検診で「停留精巣」と指摘された時も、泌尿器科に受診して相談して下さい。
				</span>
			</details>			
			<details>
				<summary>睾丸（精巣）が腫れてきた・陰嚢（内容）が大きくなってきた</summary>
				<span>
					入浴中などに突然、自分の睾丸（精巣）が腫れているのに気づく。
					<br><br>
					痛みも何も無い。痛くないし恥ずかしいからとなかなか受診されない方もおられますが、悪性の精巣腫瘍の可能性もありますので、勇気を出して泌尿器科を受診ください。
				</span>
			</details>			
			<details>
				<summary>陰嚢内が痛い</summary>
				<span>
					陰嚢（いんのう）内が痛む病気には、精巣捻転（せいそうねんてん）、精巣上体炎（せいそうじょうたいえん）（別称：副睾丸炎：（ふくこうがんえん））、精巣垂（せいそうすい）や精巣上体垂（せいそうじょうたいすい）などの捻転、および精巣炎などがあります。
					<br><br>
					これらはいずれも比較的急速に発症するために急性陰嚢症と呼ばれます。また、そけいヘルニア（脱腸）を陰嚢の症状とあやまる場合も時にはあります。
				</span>
			</details>			
			<details>
				<summary>腎臓のあたりが痛む</summary>
				<span>
					腎臓は手を後ろに回してわき腹と背骨の中間あたりの場所にあります。ちょうど腰が痛い時にとんとんと叩く場所をイメージしてください。
					<br><br>
					腎臓は尿を作る臓器です。体の老廃物を尿として排出します。その他にも血圧に関係する物質を作ります。
					<br><br>
					普段は何も感じませんが、何らかの原因で痛みを生じる時がありますので、少しでも異常があれば早めにご相談ください。					
				</span>
			</details>			
			<details>
				<summary>勃起力（ぼっきりょく）が低下した</summary>
				<span>
					EDを自覚したら泌尿器科を受診してください。全身疾患の前触れかもしれません。高血圧や糖尿病が見つかるかもしれません。
					<br><br>
					そのような病気があれば、その治療も行い、そしてEDの治療も積極的に受けてください。ED治療薬は勃起を良くするだけではなく、全身の血管の働きも良くする作用も認められています。現在3種類のED治療薬が使用できます。
					<br><br>
					インターネットなどで販売されている薬は偽物が多く、有害な物質が含まれている可能性があるので、決して手を出さないようにしてください。					
				</span>
			</details>			
			<details>
				<summary>精液が赤くなった、精液に血が混じる(血精液症)</summary>
				<span>
					血精液症とは、精液に血液が混入し、精液が赤色調を示す状態のことを指します。射精した際に気づくことになりますので、急な変化に驚いたり、心配になる方も少なくありません。
					<br><br>
					多くの場合痛みなど他の症状は伴いませんが、色調は鮮紅色が混ざったものから茶褐色調まで様々で、時に血の塊が混ざることもあります。まれですが癌などの重大な病気のサインのこともありますので、泌尿器科を受診ください。
				</span>
			</details>
		</section>
	</section>

	<section class="wrap3-footer" id="footer">  
		<div class="wrap-footer-pc">
			<p class="clinic-info title">クリニック情報</p>
			<p class="map-subtitle">住所</p>
			<p class="map-content">〒669-1323 兵庫県三田市あかしあ台 1-49-1</p>
			<p class="map-subtitle">電話番号</p>
			<p class="map-content">079-553-8886</p>
			<p class="map-subtitle">アクセス</p>
			<span class="map-content">
				三田ウッディタウンのあかしあ台コミュニティハウス前
				<br><br>
				<details>
					<summary class="map-content-detail">電車 <img class="arrow" src="./images/arrow.png"></summary>
					神戸電鉄「南ウッディタウン駅」で下車し、はじかみ池公園に沿って徒歩約8分です(ゆるやかな上り坂）。途中の踏切のモニュメントがあるところからは、公園に沿わずに道路を渡ってウッディタウン動物病院の横を通ればすぐです。				
					<br><br>
				</details>
				<details>
					<summary class="map-content-detail">バス <img class="arrow" src="./images/arrow.png"></summary>
					JR新三田駅から神姫バスを利用し、1番乗り場から41系統のバスにお乗りください。「コミュニティホール前」バス停で降りてすぐです。				
					<br><br>
				</details>
				<details>
					<summary class="map-content-detail">車 クリニック横に約20台分の駐車場完備 <img class="arrow" src="./images/arrow.png"></summary>
					■新三田駅方面から
					<br><br>
					三田市民病院前の道を、ウッディタウン内へ西に進んでください。三田幹線（神戸電鉄)ガードから3つ目信号(ローソンを超えて2つ目)を左にまがり、200m先の右側にあります。				<br><br>
					■フラワータウン、神戸市方面から
					<br><br>
					三田幹線南ウッディタウン（ミドリ電化、阪急オアシスのところ)で側道に降り、降りたところの信号を左折。すぐのローソンを超えて2つめ信号左折。道沿い200m先右側。
					<br><br>
					■テクノパーク方面から
					<br><br>
					三田幹線南ウッディタウン(ミドリ電化、阪急オアシスが目印です)で側道に降り、降りたところの信号を右折。右折してすぐのローソンを超えて、2つ目の信号を左折。道沿いに進み、200m先右側にあります。
					<br><br>
				</details>
			</span>
				<iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3272.3412307221233!2d135.1845661!3d34.8978853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000650720017c01%3A0xdfaf2e3dbf3abcd4!2z44GE44KP44KC44Go5rOM5bC_5Zmo56eR!5e0!3m2!1sja!2sjp!4v1661932774319!5m2!1sja!2sjp" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
			<br><br>
			<p class="map-subtitle">診療時間</p>
			<br><br>
			<img class="calender-image" src="./images/calender.png" alt="あらい腎泌尿器科クリニックの診療時間">
			<br><br>
		</div>
	</section>
</body>

<style>
	
	body {
		font-family: 'Noto Sans JP', sans-serif;
		width: 100vw;
		display: flex;
		flex-direction:column;
		align-items: center;
	}

	.wrap1 {
		background: #FFFFFF;
		display: flex;
		flex-direction: column;
		padding: 64px;
		gap: 240px;
	}

	.wrap2 {
		display: flex;
		flex-direction: column;
		padding-top: 240px;
		padding-bottom: 240px;
		gap: 240px;
	}

	.title {
		font-weight: 700;
		font-size: 7vw;
		color: rgba(0, 0, 0, 0.87);
		position: relative;
		left: 0vw;
		padding-top:6vw;
		padding-bottom:8vw;
	}

	.header-label {
		background: #2687FF;
		position: fixed;
		width: 100vw;
		height: 12vw;
		left: 0%;
		right: 0%;
		top: 0px;
		z-index: 2;
	}

	.header-label-text {
		position: absolute;
		height: 4px;
		left: 38px;
		right: 37px;
		top:32px;
		font-weight: 700;
		font-size: 3.5vw;
		line-height: 5vw;
		text-align: center;
		color: #F5F5F7;
	}

	.main-bg {
		position: absolute;
		width: 100vw;
		height: 88vh;
		object-fit: cover;
	}

	.main-image {
		position: relative;
		width:100vw;
		height: 88vh;
		padding:0px 0px;
		display:-webkit-flex;
		display:-ms-flexbox;
		display: flex;
		justify-content: center;
		flex-direction:column;
		align-items: center;
	}


	.main-logo {
		height: 20vw;
		position: relative;

	}

	.main-image-text1 {
		position: relative;
		top:4vw;
		font-weight: 500;
		font-size: 5vw;
		color: #595656;
	}

	.main-image-text2 {
		position: relative;
		top:4vw;
		font-weight: 500;
		font-size: 5vw;
		line-height: 12vw;
		color: #595656;
	}

	.main-image-description1 {
		position: relative;
		top:6vw;
		font-weight: 900;
		font-size: 8vw;
		color: #595656;
	}
	.main-image-description1 a {
		position: relative;
		text-decoration:none;
		color: #595656;
	}

	.main-image-description2 {
		position: relative;
		top:12vw;
		font-weight: 500;
		font-size: 4vw;
		color: #595656;
	}

	.main-image-description3 {
		position: relative;
		top:16vw;
		font-weight: 700;
		font-size: 4vw;
		color: #595656;
	}

	.main-image-description3 a {
		font-size: 3vw;
	}

	.main-image-description4 {
		position: relative;
		top:20vw;
		font-weight: 700;
		font-size: 4vw;
		color: #595656;
	}

	.wrap1-nav {
		display: flex;
		gap: 24vw;
		flex-direction: column;
	}

	.wrap1-nav div {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24vw;
	}

	.wrap1-nav a {
		font-size: 8vw;
	}

	.wrap1-notification {
		padding-top: 64px;
	}

	.wrap1-introduction {
		background: #FFFFFF;
		border-radius: 40px;
		padding-top: 120px;
		padding-bottom: 120px;
		padding-left: 6vw;
		padding-right: 6vw;
	}
	.introduction-image {
		width: 100%;
		object-fit: cover;
		border-radius: 40px;
		filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
	}
	.introduction-job {
		font-weight: 500;
		font-size: 5vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 80px;
	}
	.introduction-name {
		font-weight: 700;
		font-size: 6vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.86);
		padding-top: 40px;
	}
	.introduction-description {
		font-weight: 500;
		font-size: 4vw;
		line-height: 6vw;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 80px;
	}

	hr {
		margin-top: 120px;
	}

	.introduction-subtitle {
		font-weight: 500;
		font-size: 5vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 64px;
	}

	.introduction-history {
		font-weight: 400;
		font-size: 4vw;
		line-height: 4vw;
		color: rgba(0, 0, 0, 0.56);
		padding-top: 32px;
	}

	div.introduction-detail p {
		padding: 8px 0px;
	}

	.wrap2-clinic-point {
		margin: 0 8vw;
	}

	.clinic-point-content {
		position: relative;
	}

	.clinic-point-text1 {
		position: absolute;
		top: 90vw;
		left: 6vw;
		font-weight: 700;
		font-size: 7vw;
		line-height: 10vw;
		color: #FFFFFF;
	}

	.clinic-point-text {
		position: absolute;
		top: 100vw;
		left: 6vw;
		font-weight: 700;
		font-size: 7vw;
		line-height: 35px;
		color: #FFFFFF;
	}

	.clinic-point-image {
		width: 82vw;
		height: 120vw;
		border-radius: 40px;
		object-fit: cover;
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
	}

	.wrap-image-clinic {
		display: flex;
		flex-direction: column;
		gap: 128px;

	}

	.wrap2-flow {
		background: #FFFFFF;
		display: flex;
		align-items: center;
		flex-direction:column;
		border-radius: 40px;
		padding: 64px 12vw;
		margin: 0 8vw;
		filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.16));
	}

	.clinic-flow-image {
		width: 40vw;
		padding-top: 160px;
		padding-bottom: 80px;
		object-fit: cover;
	}

	.flow-description {
		font-weight: 500;
		font-size: 4vw;
		line-height: 5vw;
		color: rgba(0, 0, 0, 0.6);
		padding: 16px 0;
	}

	.wrap2-treatment {
		padding: 64px 8vw;
	}

	.wrap2-treatment summary {
		font-weight: 500;
		font-size: 4vw;
		line-height: 5vw;
		color: rgba(0, 0, 0, 0.8);
		margin:4vw 0;
	}

	.wrap2-treatment span {
		font-weight: 500;
		font-size: 2.5vw;
		line-height: 5vw;
		color: rgba(0, 0, 0, 0.6);
		margin:4vw 0;
	}

	.map-content {
		font-weight: 500;
		font-size: 4vw;
		line-height: 6vw;
		color: rgba(0, 0, 0, 0.64);
		padding: 12px 0;
	}

	.map-subtitle {
		font-weight: 700;
		font-size: 5vw;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 64px;
		padding-bottom: 40px;
	}

	.map-content-detail {
		font-weight: 500;
		font-size: 4.5vw;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 32px;
		padding-bottom: 40px;
		margin: 2vw 0;
		background: rgba(0, 0, 0, 0.12);
		border-radius: 40px;
		display: block;
		list-style-type: none;
		list-style: none;
	}

	summary {
  display: block;
  list-style: none;
}

	/* 一部ブラウザで消えなかった場合は以下も追記 */
	summary::-webkit-details-marker {
	display:none;
	}

	.arrow {
		position: relative;
		right: -60vw;

	}

	.clinic-info-content {
		padding-bottom: 64px;
		display: flex;
		flex-direction: column;
		gap: 64px;
	}

	.clinic-info {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.wrap3-footer {
		background: #FFFFFF;
		padding: 64px 64px 200px 64px;
	}

	.googlemap {
		padding-top: 6vw;
	}

	.calender-image {
		width: 100%;
		padding-bottom: 120px;
	}

	@media screen and (min-width: 1000px) {

	.title {
		font-size: 4vw;
	}

	.header-label {
		height: 6vw;
	}

	.header-label-text {
		position: absolute;
		top:8px;
		font-size: 2vw;
	}
	.main-bg {
		height: 85vh;
	}

	.main-image {
		height: 85vh;
	}

	.main-logo {
		height: 12vw;
		position: relative;
		top: 4vh
	}

	.main-image-text1 {
		position: relative;
		top:8vh;
		font-size: 2.5vw;
	}

	.main-image-text2 {
		position: relative;
		top:4vh;
		font-size: 2.5vw;
	}

	.main-image-description1 {
		position: relative;
		top:2vh;
		font-size: 4vw;
	}

	.main-image-description2 {
		position: relative;
		top:6vh;
		font-size: 2vw;
	}
	.main-image-description3 {
		position: relative;
		top:8vh;
		font-size: 2vw;
	}

	.main-image-description3 a {
		font-size: 1.5vw;
	}

	.notify-frame {
		position: relative;
		left: 14vw;
		width: 80%;
	}
}

</style>
</html>
