---

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <meta name="description" content="あらい腎泌尿器科クリニックは大阪大学医学部卒の医師が院長をつとめる泌尿器科です。男性、女性子供問わず新三田・三田・南ウッディタウンで患者様に寄り添った治療を目指して診療しております。お気軽にご来診ください。" >
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="keywords" content="三田,泌尿器科,おしっこ,名医,子供,性病,兵庫,新三田,南ウッディタウン">
	<title>あらい腎泌尿器科クリニック｜三田のアットホームな泌尿器科</title>
</head>
<body>
	<slot />
</body>
</html>

<style>

  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem); 
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --color-text: hsl(12, 5%, 4%);
		--color-border: hsl(17, 24%, 90%);
  }

  html {
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  body {
    margin: 0;
  }

  :global(h1) {
    font-size: var(--font-size-xl);
  }

  :global(h2) {
    font-size: var(--font-size-lg);
  }

</style>
